.form__input_title-error {
  position: relative;
  margin: 0;
  margin-left: 22px;
}
@media screen and (min-width: 320px) {
  .form__input_title-error {
    width: 238px;
    top: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .form__input_title-error {
    width: 358px;
    top: -5px;
    margin-left: 38px;
  }
}
