.page {
    max-width: 880px;
    margin: auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: rgba(0, 0, 0, 1);
}
@media screen and (min-width: 320px) {
    .page {
        margin: auto;
    }
}
@media screen and (min-width: 1280px) {
    .page {
        margin: auto;
    }
}