.popup-location__close-image {
  position: absolute;
}
@media screen and (min-width: 320px) {
  .popup-location__close-image {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .popup-location__close-image {
    width: 32px;
    height: 32px;
  }
}
