.popup-location__photo {
  display: flex;
  position: relative;
  align-self: center;
  justify-self: center;
  margin: auto;
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;
}
@media screen and (min-width: 320px) {
  .popup-location__photo {
    min-height: 299px;
  }
}
@media screen and (min-width: 1280px) {
  .popup-location__photo {
    min-height: 562px;
    min-width: 433px;
  }
}
