.card__tile-button {
    background-color: #fff;
    justify-self: right;
    margin-right: 0px;
    margin-left: auto;
    max-width: 22px;
    max-height: 19px;
    align-self: center;
    padding: 0;
    cursor: pointer;
}