.line {
    height: 1px;
}
@media screen and (min-width: 320px) {
    .line {
        max-width: 320px;
        padding: 31px 0 0 0;
    }
}
@media screen and (min-width: 1280px){
    .line {
        max-width: 880px;
        padding: 41px 0 0 0;
    }
}