.info {
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
}
@media screen and (min-width: 320px) {
    .info {
        margin: 26px auto auto auto;
    }
}
@media screen and (min-width: 1280px) {
    .info {
        margin: auto auto auto 30px;
    }
}