.popup__input-name-border {
  display: none;
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0;
  margin: -1px 33px 3px 39px;
}
@media screen and (min-width: 320px) {
  .popup__input-name-border {
    width: 241px;
    margin-left: 22px;
    top: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__input-name-border {
    width: 363px;
    margin-left: 38px;
    top: 142px;
  }
}
