@media screen and (min-width: 320px) {
    .profile__info-image {
        width: 18px;
        height: 18px;
    }
}
@media screen and (min-width: 1280px) {
    .profile__info-image {
        width: 24px;
        height: 26px;
    }
}